footer {
  position: fixed;
  bottom: 0;
  color: white;
  font-size: 20px;
  width: 100vw;
  height: 5vh;
  background-color: var(--logo-blue);
  display: flex;
  align-items: center;
}

footer a {
  margin: 0 auto;
}

footer a:visited {
  color: white;
}

span {
  font-family: var(--logo-font);
}


/* mobile */
@media only screen and (max-width: 480px) {
  footer {
    height: 40px;
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    font-size: 12px;
  }
}
/* tablet */
@media only screen and (min-width: 481px) and (max-width: 768px) {

}
/* laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {

}
