a:visited {
  color: var(--font-blue);
}
header {
  display: flex;
  flex-direction: column;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  padding-top: 2vh;
}
nav {
  display: flex;
  padding: 12px 0 8px 0;

}
nav a {
  margin: 0 auto;
  font-size: 4vw;
}
#logo {
  width: 90vw;
  max-width: 350px
}
#logo, #logo-link {
  margin: 0 auto;
}

/* tablet */
@media only screen and (min-width: 481px) {
  
  nav {
    padding: 12px 0 8px 0;
  }

  nav a {
    font-size: 3.5vw;
  }
  
  #logo {
    width: 85vw;
    max-width: 600px;
  }

}
/* laptops */
@media only screen and (min-width: 769px) {
  #logo {
    width: 55vw;
  }
  nav a {
    font-size: 25px;
  }
}

/* desktop */
@media only screen and (min-width: 1025px) {
  #logo {
    max-height: 200px;
  }
}