:root {
  --reg-font: 'Comfortaa', san-serif;
  --logo-font: 'Corben', cursive;
  --logo-blue: #47839C;
  --font-blue: #186B94;
  --color-border: #264653;
  --orange: #E76F51;
  --teal: #2A9D8F;
  --mustard: #E9C46A;
}

a {
  color: var(--font-blue);
  text-decoration: none;
}

button {
  background-color: transparent;
}
main {
  margin: 0;
  display: flex;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  flex-direction: column;
}

.App {
  min-height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 24vh 1fr 50px;
  grid-column: 1fr;
}


/* tablet */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  main {
    padding-top: 20px;
  }
}
/* laptop */
@media only screen and (min-width: 769px) and (max-width: 1024px) {

}
/* desktop */
@media only screen and (min-width: 1025px) {

}