:root {
  --reg-font: 'Comfortaa', san-serif;
  --logo-font: 'Corben', cursive;
  --logo-blue: #47839C;
  --font-blue: #186B94;
  --color-border: #264653;
  --orange: #E76F51;
  --teal: #2A9D8F;
  --mustard: #E9C46A;
}
a {
  color: var(--font-blue);
  text-decoration: none;
}
button {
  background-color: transparent;
}
main {

  margin: 0;
  display: flex;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  flex-direction: column;
}
.App {
  min-height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: minmax(128px, max-content) 1fr 30px;
  grid-column: 1fr;
  justify-content: center;
}

/* tablet */
@media only screen and (min-width: 481px) {
  .App {
    grid-template-rows: minmax(min-content, max-content) 1fr 40px;
  }
}

/* laptop */
@media only screen and (min-width: 769px) {
  main {
    padding: 0 5vw;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
  }
  .App {
    grid-template-rows: minmax(min-content, max-content) 1fr 40px;
  }
}
/* desktop */
@media only screen and (min-width: 1025px) {

}