.color-1,
.color-2,
.color-3 {
  width: 60px;
  height: 60px;
  border: solid 1px var(--color-border);
  border-radius: 10px;
}
.delete-btn {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  margin-right: 2vh;
}

.edit-link, .delete-btn, .palette-username {
  align-self: end;
}
.palette-all {
  margin: 0 auto;
}
.palette-card {
  box-sizing: border-box;
  display: grid;
  margin: 1vh 0;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 3fr;
  height: 115px;
  width: 80vw;
  border: solid 2px var(--font-blue);
  border-radius: 15px;
}

.palette-card button {
  width: 60px;
  height: 20px;
  font-family: var(--reg-font);
  color: var(--font-blue);
  background-color: transparent;
  border: 1px solid var(--font-blue);
  border-radius: 3px;
}
.palette-card > btn:hover {
  color: var(--mustard);
  border: solid 1px var(--mustard);
}
.palette-card .edit-btn {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin-left: 2vh;
}
.palette-colors {
  grid-row: 2 / 3;
  grid-column: 1 / 4;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.palette-name, .palette-username, .palette-name-top {
  display: none;
}
.palette-username, .palette-username-top, .palette-name-top {
  font-family: var(--logo-font);
  color: var(--orange);
  font-size: 15px;
  text-align: center;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  margin: 0;
  line-height: 20px;
}


/* tablet */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .color-1,
  .color-2,
  .color-3 {
    width: 11vh;
    height: 11vh;
    max-height: 83px;
    max-width: 83px;
    border: solid 1px var(--color-border);
    border-radius: 15px;
  }
  .delete-btn, .edit-link  {
    justify-self: center;
    align-self: center;
    grid-row: 2 / 3;
  }
  .palette-all {
    margin: 0 auto 1vh auto;
    width: 80vw;
    max-width: 520px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .palette-card {
    grid-template-rows: 1fr 5fr;
    max-height: 140px;
    height: 18vh;
    margin: 0;
    border-radius: 25px;
  }
  .palette-card button, .edit-link>.edit-btn {
    width: 13vw;
    height: 30px;
    max-width: 80px;
    font-size: 15px;
    border-radius: 5px;
    margin: 0;
  }
  .palette-colors {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .palette-name {
    font-family: var(--logo-font);
    margin: 0;
    display: inline;
    text-align: center;
    align-self: end;
    font-size: 2.5vw;
    line-height: 10px;
    color: var(--orange);
    display: inline;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }
  .palette-username {
    display: inline;
    color: var(--teal);
    margin: 0 5vw 0 0;
    font-size: 2.3vw;
    text-align: right;
  }
  .palette-username-top {
    display: none;
  }
}
/* laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .color-1,
  .color-2,
  .color-3 {
    width: 8vw;
    height: 8vw;
    border-radius: 15px;
  }
  .delete-btn, .edit-link  {
    align-self: center;
  }
  .palette-all {
    width: 42vw;
    margin-bottom: 2vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .palette-card {
    grid-template-rows: 1fr; 
    grid-template-columns: 1fr 4fr 1fr;
    width: 42vw;
    margin: 0;
  }
  .palette-card button, .edit-link>.edit-btn {
    width: 6vw;
    height: 24px;
    font-size: 13px;
    border-radius: 5px;
    margin: 1vw;
  }
  .palette-colors {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .palette-name-top {
    display: inline;
    line-height: 25px;
    font-size: 1.6vw;
    text-align: left;
    margin: 0 0 0 3vw;
    justify-self: flex-start;
  }
  .palette-username {
    display: inline;
    color: var(--teal);
    margin: 0 3vw 0 0;
    font-size: 1.5vw;
    text-align: right;
    justify-self: flex-end;
  }
  .palette-name, .palette-username-top {
    display: none;
  }
}

/* desktop */
@media only screen and (min-width: 1025px) {
}
