:root {
  --logo-font: 'Corben', cursive;
  --logo-blue: #47839C;
  --font-blue: #186B94;
  --color-border: #264653;
  --orange: #E76F51;
  --teal: #2A9D8F;
  --mustard: #E9C46A;
}

.App {
  min-height: 100vh;
  width: 100vw;
  display: flex;
}
.color-1, .color-2, .color-3 {
  width: 100px;
  height: 100px;
}

/* mobile */
@media only screen and (max-width: 480px) {

}
/* tablet */
@media only screen and (min-width: 481px) and (max-width: 768px) {

}
/* laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {

}
