:root {
  --plain-font: 'Comfortaa', san-serif;
  --logo-font: 'Corben', cursive;
  --dark-teal: #264653;
  --orange-red: #E76F51;
  --teal: #2A9D8F;
  --mustard: #E9C46A;
}

.App {
  min-height: 100vh;
  width: 100vw;
}


/* mobile */
@media only screen and (max-width: 480px) {
  
}
/* tablet */
@media only screen and (min-width: 481px) and (max-width: 768px) {

}
/* laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {

}
