footer {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  font-size: 12px;
  position: fixed;
  bottom: 0;
  color: white;
  width: 100vw;
  height: 7vw;
  background-color: var(--logo-blue);
  display: flex;
  align-items: center;
}

#footer-link {
  margin: 0 auto;
}

#footer-link:visited {
  color: white;
}

footer span {
  font-family: var(--logo-font);
}

/* tablet */
@media only screen and (min-width: 481px) {
  footer {
    font-size: 2vw;
    height: 5vw;
  }
}
/* laptops */
@media only screen and (min-width: 769px) {
  footer {
    font-size: 12px; 
    height: 30px;
  }
}
/* desktop */
@media only screen and (min-width: 1025px) {

}