
form label {
  box-sizing: border-box;
  font-family: var(--logo-font);
  text-align: center;
  font-size: 5vw;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--color-border);
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  width: 13vh;
  height: 13vh;
  max-height: 86px;
  max-width: 86px;
  border: 1px solid var(--color-border);
  border-radius: 15px;
  grid-column: 1 / 2;
}
.color-info,
#submit-btn {
  box-sizing: border-box;
  color: var(--font-blue);
  text-align: center;
}
.color-info h3 {
  font-family: var(--logo-font);
  font-size: 12px;
  margin: 0;
  line-height: 12px;
  max-width: 30vw;
}
.color-info h5 {
  border: 1px solid var(--font-blue);
  border-radius: 3px;
  font-size: 12px;
  width: 30vw;
  min-width: 100px;
  margin: 3px auto 0 auto;
}
.col-input-each {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2vw;
  width: 62vw;
  max-width: 250px;
}
.copied {
  background-color: var(--font-blue);
  color: white;
}
.form-color {
  opacity: 0;
  border: none;
  height: 20px;
}

/* tablet */
@media only screen and (min-width: 481px) {
  form label {
    height: 25vw;
    width: 25vw;
    max-height: none;
    max-width: none;
    border-radius: 25px;
    margin: 2.5vw 0;  
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 40px;
  }
  .color-info {
    width: 25vw;
    padding: 0;
  }
  .color-info>h3 {
    font-size: 15px;
  }
  .color-info>h5 {
    max-width: 130px;
    font-size: 15px;
    padding: 5px 0;
    line-height: normal;
    margin: .7vw auto;
    border: 2px solid var(--font-blue);
    border-radius: 6px;
  }
  .col-input-each {
    flex-direction: column;
    margin: 1vw;
    width: 30vw;
  }
  .form-color {
    opacity: 0;
    border: none;
    max-height: none;
    height: 40px;
  }
  
}
/* laptop */
@media only screen and (min-width: 769px){
  form label {
    max-height: 220px;
    max-width: 220px;
    border-radius: 25px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding-bottom: 40px;
  }
  .color-info {
    max-width: 220px;
    padding: 0;
  }
  .color-info>h3 {
    line-height: normal;
    margin-top: 7px;
  }
  .color-info>h5 {
    line-height: normal;
    max-height: 32px;
    max-width: 150px;
    margin: 7px auto 0 auto;
  }
}
/* desktop */
@media only screen and (min-width: 1025px) {
  form label {
    font-size: 50px;
    border: 2px solid var(--color-border);
  }
  .color-info>h3 {
    font-size: 16px;
  }
  #col-inputs-container {
    max-width: 800px;
  }
}
