
form input[type="color"] {
  opacity: 0;
  border: none;
}

label {
  font-size: 2.5vh;
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
}

.input-info, #submit-btn {
  box-sizing: border-box;
  color: var(--font-blue);
}

label {
  font-family: var(--logo-font);
  text-align: center;
}

#submit-btn {
  color: var(--mustard)
}
#submit-btn:hover {
  border-color: var(--mustard);
}

/* mobile */
@media only screen and (max-width: 480px) {

  form label {
    height: 13vh;
    width: 13vh;
    max-height: 86px;
    max-width: 86px;
    border: 1px solid var(--color-border);
    border-radius: 15px;
    grid-column: 1 / 2;
  }

  input[type=color] {
    height: 4vh;
    max-height: 27px;
  }

  .input-info {
    width: 35vw;
    text-align: center;
    padding-right: 10px;
  }
  .input-info h3, h5 {
    margin: 3px 0;
    font-size: 12px;
  }
  .input-info h3 {
    font-family: var(--logo-font);
  }
  .input-info h5 {
    border: 1px solid var(--font-blue);
    border-radius: 3px;
  }
}
/* tablet */
@media only screen and (min-width: 481px) and (max-width: 768px) {
}
/* laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
}
