
form label {
  box-sizing: border-box;
  font-family: var(--logo-font);
  text-align: center;
  font-size: 5vw;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--color-border);
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  width: 13vh;
  height: 13vh;
  max-height: 86px;
  max-width: 86px;
  border: 1px solid var(--color-border);
  border-radius: 15px;
  grid-column: 1 / 2;
}
.color-code {

}
.color-info,
#submit-btn {
  box-sizing: border-box;
  color: var(--font-blue);
}

.color-info {
  box-sizing: border-box;
  width: 35vw;
  text-align: center;
  padding-left: 7vw;
}
.color-info h3,
h5 {
  box-sizing: border-box;
  margin: 3px 0;
  font-size: 3vw;
  padding: 2px 0;
}
.color-info h3 {
  font-family: var(--logo-font);
}
.color-info h5 {
  border: 1px solid var(--font-blue);
  border-radius: 3px;
}
.col-input-each {
  display: flex;
  align-items: center;
  margin-bottom: 2vw;
}
.copied {
  background-color: var(--font-blue);
  color: white;
}
.form-color {
  opacity: 0;
  border: none;
  height: 4vh;
  max-height: 27px;
}

/* tablet */
@media only screen and (min-width: 481px) {
  form label {
    height: 25vw;
    width: 25vw;
    max-height: none;
    max-width: none;
    border-radius: 25px;
    margin: 2.5vw 0;  
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 40px;
  }
  .color-info {
    width: 25vw;
    padding: 0 3vw;
  }
  .color-info>h5 {
    font-size: 15px;
    padding: 5px 0;
    line-height: normal;
    margin: .7vw 0;
    border: 2px solid var(--font-blue);
    border-radius: 6px;
  }
  .col-input-each {
    flex-direction: column;
    margin: 1vw;
    max-width: 330px;
  }
  .form-color {
    opacity: 0;
    border: none;
    max-height: none;
    height: 40px;
  }
  
}
/* laptop */
@media only screen and (min-width: 769px){
  form label {
    max-height: 220px;
    max-width: 220px;
    border-radius: 25px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding-bottom: 40px;
  }
  .color-info {
    max-width: 170px;
    padding: 0;
  }
  .color-info>h5 {
    box-sizing: border-box;
    line-height: normal;
    max-height: 32px;
    max-width: 210px;
    margin: .7vw 0;
  }
}
/* desktop */
@media only screen and (min-width: 1025px) {
  form label {
    font-size: 50px;
  }
  .color-info>h5 {
    margin: 12px 0;
  }
}
